.app {
  display: flex;
  justify-content: center;
}

.column {
  flex-direction: column;

}
.column  > div {
  margin-top: 1em;
}

.star {
  color: #f1d1a5;
  font-size: 2em;
  position: absolute;
}

#header {
  margin: 1em 0;
}

#space {
  overflow: hidden;
  position: relative;
  background-color: #222222;
  width: 600px;
  height: 400px;
  border-radius: 2px;
}

#control-bar {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

#control-bar button {
  padding: 0.5em 1em;
  margin: 0 0.5em;
}
